scikit-learn
nltk
gensim
pandas
fugashi
mecab-python3
packaging==21.3
unidic-lite
transformers==4.3.2
openpyxl
torch
xlwt
datasets
ipadic #for bert japanese
sentencepiece
protobuf
tensorboardX
tensorboard